<!doctype html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') -%>
	</head>

	<body>
		<div class="wrapper main">
			<h1>Expense Tracker by</h1>
			<p>by Patryk</p>
			<a href="/auth"><button class="active">Sign In / Log In</button></a>
		</div>
	</body>
</html>
